@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Exclusão de Fornecedor";
}
<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />

<h5>Tem certeza que deseja excluir?</h5>
<div>
    <dl class="row">
        <partial name="_BasicInfo" />
    </dl>

    <form asp-action="Delete">
        <vc:summary></vc:summary>
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>


<partial name="_DetalhesEndereco" />