@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes de " + Model.Nome;
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />
<div>
    <dl class="row">
        <partial name="_BasicInfo" />
    </dl>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
</div>

<partial name="_DetalhesEndereco" />

